.content-margin-x {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.loading {
  position: absolute;
  top: 40%;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 999;
}

.text-responsive {
  font-size: calc(89% + 0.2vw + 0.2vh);
  line-height: calc(100% + 0.3vw + 0.3vh);
}